/* 
    This style sheet stylizes the controls inside our
    TA Manager JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Note that it may seem overwhelming to see so many different
    style classes, even though our application doesn't have that
    many controls, but what this allows us to do is easily
    control and update the style of the entire user interface
    via a stylesheet without having the change Java code.

    Author:	Richard McKenna
    Version:	1.0
*/
.root{
    -fx-font-family: "Courier New";
}

.dialog_pane {
    -fx-padding:15;
}

.dialog_heading {
    -fx-font-size: 24pt;
    -fx-background-color: bisque;
    -fx-color:red;
}

.dialog_prompt {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.plain_pane{
    
}

.bordered_pane {
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.header_pane{
    -fx-background-color:#ccccff;
}

.header_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

.ta_table{
    -fx-font-size:16pt;
    -fx-background-color:#000066;
}

.table-view .column-header.ta_table_column_header .label {
    -fx-text-fill:white;
    -fx-background-color:#000066;
}

.add_ta_pane{
    -fx-padding: 5 10 5 10;
}

.add_ta_text_field{
    -fx-font-size: 12pt;
}

.add_ta_button{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}

.office_hours_grid{
    
}

.office_hours_grid_time_column_header_pane{
    -fx-background-color:#000066;
    -fx-border: 1px;    
}

.office_hours_grid_time_column_header_label{
    -fx-text-fill:white;
    -fx-font-size:14pt;   
    -fx-font-weight:bold;
    -fx-padding: 10 20 10 20;
}

.office_hours_grid_day_column_header_pane{
    -fx-background-color:#000066;
    -fx-border: 1px;
    -fx-border-color: #000066;
}

.office_hours_grid_day_column_header_label{
    -fx-text-fill:white;
    -fx-font-size:14pt;   
    -fx-font-weight:bold;
    -fx-padding: 10 20 10 20;
}

.office_hours_grid_time_cell_pane{
    -fx-background-color:#000099; 
    -fx-border: 1px;   
    -fx-border-color:darkgray;
    -fx-border-style:dashed;
}

.office_hours_grid_time_cell_label{
    -fx-font-size:14pt;
    -fx-text-fill:white;
}

.office_hours_grid_ta_cell_pane{
    -fx-background-color:#abab78;
    -fx-border: 1px;
    -fx-border-color: black;
}

.office_hours_grid_ta_cell_label{
    -fx-font-weight:bold;
    -fx-font-size:12pt;  
    -fx-padding: 5 10 5 10;
}

.highlighted_grid_cell {
    -fx-border-color: #ffff00;
    -fx-border: 5px;
}

.highlighted_grid_row_or_column {
    -fx-border-color: #aaaa00;
    -fx-border: 5px;
    -fx-border-style:solid;
}